<!--DOCTYPE html -->
<html>
<body>
<h1>template {{ title }} works</h1>

{% for obj in object_list %}
<!-- {% url "posts:detail" id=obj.id %} , objects are passed from model to rendering through views.py -->
<a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a><br/>  <!-- create a dynamic link to url, no matter what the url name
                                                                       {% <url_file> "<name>"}-->
{{ obj.content }}<br/>
{{ obj.timestamp }}<br/>
{{ obj.updated }}<br/>
{{ obj.id }}<br/>

{% endfor %}


</body>
</html>